@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

/* .bg-hero{
  background-image: url("/assets/Header/background.png");
  object-fit: cover;

} */

.bg-css{
  background-image: url("../assets/Header\ background.png");
  

}

@media only screen and (max-width: 768px) {
  .bg-css{
    width: 30rem;
  }
}


.spancolor{
  color: gba(192, 183, 232, 1);
}